# Create Feature Set

In [1]:
import pandas as pd
from datetime import datetime, timedelta

### Convert Date

In [2]:
def convert_date(df, datecolname):
    converted_list = []

    original_list = df[datecolname].values
    
    for i in range(len(original_list)):
        try:
            date = datetime.strptime(original_list[i], '%Y-%m-%d')
        except:
            date = datetime.strptime(original_list[i], '%Y-%m')
        
        converted_list.append(date.strftime('%-m/%-d/%y'))

    df[datecolname] = converted_list
    
    return df

### Fill Data

In [3]:
def fill_data(df, datecolname):
    new_df = pd.DataFrame()

    original_list = df[datecolname].values
    #print(original_list)
    
    date = datetime.strptime(original_list[0], '%m/%d/%y')

    j = 1
    current_date = date
    #print(current_date)
    #print(date.year)
    for i in range(365 * (2020 - date.year)):
        #print(i)
        df_date = datetime.strptime(original_list[j], '%m/%d/%y')

        #print(current_date, df_date)
        
        if current_date == df_date:
            new_df = new_df.append(df.iloc[j], ignore_index = True)
            
            if j < len(original_list) - 1:
                j += 1
            else:
                j = len(original_list) - 1
                print(original_list[j])
        elif current_date < df_date:
            row = df.iloc[j - 1]
            row = row.replace(row[datecolname], current_date.strftime('%-m/%-d/%y')) # adjust the date
            
            new_df = new_df.append(row, ignore_index = True) # append new row with new date to new dataframe

        current_date += timedelta(days=1)
        
    #    print(date)

    return new_df

### Remove Missing

In [4]:
def remove_missing(df):
    for col in list(df):
        colvals = df[col].values
        new_colvals = []
        for i in range(len(colvals)):
            if colvals[i] == '.':
                new_colvals.append(colvals[i-1])
            else:
                new_colvals.append(colvals[i])
        df[col] = new_colvals
    
    return df

In [5]:
#rdi.head(n=10)

In [6]:
#fill_data(rdi, 'DATE')

In [7]:
#a.tail(n=10)

### Load Files

In [8]:
# load Sharpe calculations
file1 = 'Sharpe_RUA_complete.csv'
main = pd.read_csv(file1)
main.head(n=10)

,Unnamed: 0,Date,RUA Close,Risk-Free TNX,RUA_Returns,Dates,Annual_Return_RUA,Numerator,Std_RUA,Ratio,Ratio_smoothed,Unnamed: 11
0,837.0,1/2/91,178.979996,7.97,-0.010395,1/2/91,0.094524,0.014824,2.256054,0.006571,0.008547,-0.001976
1,838.0,1/3/91,176.639999,7.93,-0.013074,1/3/91,0.079362,0.000062,2.234674,0.000028,0.008775,-0.008747
2,839.0,1/4/91,176.259995,8.02,-0.002151,1/4/91,0.074637,-0.005563,2.216556,-0.002510,0.009003,-0.011513
3,840.0,1/7/91,173.199997,8.13,-0.017361,1/7/91,0.085293,0.003993,2.154587,0.001853,0.009232,-0.007379
4,841.0,1/8/91,172.779999,8.16,-0.002425,1/8/91,0.084374,0.002774,2.154293,0.001288,0.009460,-0.008172
5,842.0,1/9/91,171.169998,8.25,-0.009318,1/9/91,0.081169,-0.001331,2.153921,-0.000618,0.009688,-0.010306
6,843.0,1/10/91,172.759995,8.16,0.009289,1/10/91,0.080759,-0.000841,2.127008,-0.000395,0.009917,-0.010312
7,844.0,1/11/91,173.130005,8.20,0.002142,1/11/91,0.084379,0.002379,2.097915,0.001134,0.010145,-0.009011
8,845.0,1/14/91,171.389999,8.23,-0.010050,1/14/91,0.072643,-0.009657,2.020824,-0.004779,0.010373,-0.015152
9,846.0,1/15/91,171.990005,8.22,0.003501,1/15/91,0.073711,-0.008489,2.020397,-0.004202,0.010602,-0.014803

In [9]:
# load VIX
file1 = '^VIX.csv'
vix = convert_date(pd.read_csv(file1), 'Date') # convert dates so its equal to main
vix = fill_data(vix, 'Date') # fill the data to match dates
vix = vix.rename(index=str, columns={"Close": "VIX_Close"})
vix.tail(n=10)

5/6/19

       Adj Close  VIX_Close     Date       High    Low   Open  Volume
10707      12.73      12.73  4/27/19  13.620000  12.49  13.44     0.0
10708      12.73      12.73  4/28/19  13.620000  12.49  13.44     0.0
10709      13.11      13.11  4/29/19  13.270000  12.65  13.04     0.0
10710      13.12      13.12  4/30/19  14.050000  12.88  13.11     0.0
10711      14.80      14.80   5/1/19  14.830000  12.74  12.86     0.0
10712      14.42      14.42   5/2/19  15.920000  13.80  14.35     0.0
10713      12.87      12.87   5/3/19  14.150000  12.80  14.11     0.0
10714      12.87      12.87   5/4/19  14.150000  12.80  14.11     0.0
10715      12.87      12.87   5/5/19  14.150000  12.80  14.11     0.0
10716      15.44      15.44   5/6/19  18.799999  12.89  12.89     0.0

In [10]:
vix.head(n=10)

   Adj Close  VIX_Close     Date       High        Low       Open  Volume
0  17.240000  17.240000   1/2/90  17.240000  17.240000  17.240000     0.0
1  18.190001  18.190001   1/3/90  18.190001  18.190001  18.190001     0.0
2  19.219999  19.219999   1/4/90  19.219999  19.219999  19.219999     0.0
3  20.110001  20.110001   1/5/90  20.110001  20.110001  20.110001     0.0
4  20.110001  20.110001   1/6/90  20.110001  20.110001  20.110001     0.0
5  20.110001  20.110001   1/7/90  20.110001  20.110001  20.110001     0.0
6  20.260000  20.260000   1/8/90  20.260000  20.260000  20.260000     0.0
7  22.200001  22.200001   1/9/90  22.200001  22.200001  22.200001     0.0
8  22.440001  22.440001  1/10/90  22.440001  22.440001  22.440001     0.0
9  20.049999  20.049999  1/11/90  20.049999  20.049999  20.049999     0.0

In [53]:
# load Real Disposable Income (too short)
file1 = 'A067RL1Q156SBEA_short.csv'
rdi = pd.read_csv(file1)
rdi = fill_data(rdi, 'DATE')

rdi.tail(n = 10)

1/1/19

       A067RL1Q156SBEA      DATE
12044              4.3  12/23/18
12045              4.3  12/24/18
12046              4.3  12/25/18
12047              4.3  12/26/18
12048              4.3  12/27/18
12049              4.3  12/28/18
12050              4.3  12/29/18
12051              4.3  12/30/18
12052              4.3  12/31/18
12053              2.4    1/1/19

In [54]:
# load Investor Sentiment (Weekly)
file1 = 'AAII-AAII_SENTIMENT.csv'
invest = pd.read_csv(file1)
invest = fill_data(invest, 'Date')
invest.tail(n=10)

5/2/19

,Bearish,Bull-Bear Spread,Bullish,Bullish 8-Week Mov Avg,Bullish Average,Bullish Average + St. Dev,Bullish Average - St. Dev,Date,Neutral,S&P 500 Weekly Close,S&P 500 Weekly High,S&P 500 Weekly Low,Total
11624,0.218274,0.157361,0.375635,0.368520,0.382093,0.483256,0.28093,4/23/19,0.406091,2900.45,2918.00,2879.13,1.0
11625,0.218274,0.157361,0.375635,0.368520,0.382093,0.483256,0.28093,4/24/19,0.406091,2900.45,2918.00,2879.13,1.0
11626,0.201705,0.133522,0.335227,0.358382,0.382093,0.483256,0.28093,4/25/19,0.463068,2927.25,2936.83,2891.90,1.0
11627,0.201705,0.133522,0.335227,0.358382,0.382093,0.483256,0.28093,4/26/19,0.463068,2927.25,2936.83,2891.90,1.0
11628,0.201705,0.133522,0.335227,0.358382,0.382093,0.483256,0.28093,4/27/19,0.463068,2927.25,2936.83,2891.90,1.0
11629,0.201705,0.133522,0.335227,0.358382,0.382093,0.483256,0.28093,4/28/19,0.463068,2927.25,2936.83,2891.90,1.0
11630,0.201705,0.133522,0.335227,0.358382,0.382093,0.483256,0.28093,4/29/19,0.463068,2927.25,2936.83,2891.90,1.0
11631,0.201705,0.133522,0.335227,0.358382,0.382093,0.483256,0.28093,4/30/19,0.463068,2927.25,2936.83,2891.90,1.0
11632,0.201705,0.133522,0.335227,0.358382,0.382093,0.483256,0.28093,5/1/19,0.463068,2927.25,2936.83,2891.90,1.0
11633,0.213415,0.176829,0.390244,0.360430,0.382093,0.483256,0.28093,5/2/19,0.396341,2923.73,2954.13,2912.84,1.0

In [55]:
# load Consumer Price Index (too short)
file1 = 'CPIAUCSL_short.csv'
cpi = pd.read_csv(file1)
cpi = fill_data(cpi, 'DATE')
cpi.tail(n=10)

3/1/19

       CPIAUCSL     DATE
12103   253.113  2/20/19
12104   253.113  2/21/19
12105   253.113  2/22/19
12106   253.113  2/23/19
12107   253.113  2/24/19
12108   253.113  2/25/19
12109   253.113  2/26/19
12110   253.113  2/27/19
12111   253.113  2/28/19
12112   254.148   3/1/19

In [56]:
# Load Consumer Confidence Index
file1 = 'DP_LIVE_08052019042347478.csv'
cci = convert_date(pd.read_csv(file1), 'TIME')
cci = fill_data(cci, 'TIME')
cci = cci.rename(index=str, columns={'Value': 'CCI_Value'})

cci.tail(n=10)

,FREQUENCY,Flag Codes,INDICATOR,LOCATION,MEASURE,SUBJECT,TIME,CCI_Value
16851,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/20/19,99.89715
16852,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/21/19,99.89715
16853,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/22/19,99.89715
16854,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/23/19,99.89715
16855,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/24/19,99.89715
16856,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/25/19,99.89715
16857,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/26/19,99.89715
16858,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/27/19,99.89715
16859,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,2/28/19,99.89715
16860,M,NaN,CCI,NLD,LTRENDIDX,AMPLITUD,3/1/19,99.77789

In [57]:
# Gold Fixing Price: GOLDAMGBD228NLBM

file1 = 'GOLDAMGBD228NLBM.csv'
gfp = convert_date(pd.read_csv(file1), 'DATE')

gfp.tail(n=10)

          DATE GOLDAMGBD228NLBM
13322  4/24/19          1273.80
13323  4/25/19          1277.85
13324  4/26/19          1281.50
13325  4/29/19          1282.15
13326  4/30/19          1285.15
13327   5/1/19          1281.80
13328   5/2/19          1271.45
13329   5/3/19          1270.05
13330   5/6/19                .
13331   5/7/19          1281.30

In [58]:
# CBOE Gold Volatility Index: GVZCLS
file1 = 'GVZCLS.csv'
cboe_gvi = convert_date(pd.read_csv(file1), 'DATE')

cboe_gvi.tail(n=10)

         DATE GVZCLS
2840  4/23/19   9.54
2841  4/24/19   9.48
2842  4/25/19   9.35
2843  4/26/19   9.28
2844  4/29/19   9.46
2845  4/30/19   9.32
2846   5/1/19   9.19
2847   5/2/19   9.08
2848   5/3/19   8.89
2849   5/6/19   9.26

In [59]:
# Personal Savings Rate: PSAVERT
file1 = 'PSAVERT_short.csv'
psavert = pd.read_csv(file1)
psavert = fill_data(psavert, 'DATE')

psavert.tail(n=10)

3/1/19

          DATE  PSAVERT
12103  2/20/19      7.3
12104  2/21/19      7.3
12105  2/22/19      7.3
12106  2/23/19      7.3
12107  2/24/19      7.3
12108  2/25/19      7.3
12109  2/26/19      7.3
12110  2/27/19      7.3
12111  2/28/19      7.3
12112   3/1/19      6.5

In [60]:
# Unemployment Rate: UNRATE
file1 = 'UNRATE_short.csv'
unrate = pd.read_csv(file1)
unrate = fill_data(unrate, 'DATE')

unrate.tail(n=10)

4/1/19

          DATE  UNRATE
12134  3/23/19     3.8
12135  3/24/19     3.8
12136  3/25/19     3.8
12137  3/26/19     3.8
12138  3/27/19     3.8
12139  3/28/19     3.8
12140  3/29/19     3.8
12141  3/30/19     3.8
12142  3/31/19     3.8
12143   4/1/19     3.6

In [61]:
# 30-Year Mortgage Rate: MORTGAGE30US - Weekly
file1 = 'MORTGAGE30US.csv'
mortgage30 = convert_date(pd.read_csv(file1), 'DATE')
mortgage30 = fill_data(mortgage30, 'DATE')

mortgage30.tail(n=10)

5/2/19

          DATE  MORTGAGE30US
17553  4/23/19          4.17
17554  4/24/19          4.17
17555  4/25/19          4.20
17556  4/26/19          4.20
17557  4/27/19          4.20
17558  4/28/19          4.20
17559  4/29/19          4.20
17560  4/30/19          4.20
17561   5/1/19          4.20
17562   5/2/19          4.14

In [62]:
# 10-Year Treasury Constant Maturity Rate: DGS10
file1 = 'DGS10.csv'
dgs10 = convert_date(pd.read_csv(file1), 'DATE')
#dgs10 = fill_data(mortgage30, 'DATE')

dgs10.tail(n=10)

          DATE DGS10
14950  4/23/19  2.57
14951  4/24/19  2.53
14952  4/25/19  2.54
14953  4/26/19  2.51
14954  4/29/19  2.54
14955  4/30/19  2.51
14956   5/1/19  2.52
14957   5/2/19  2.55
14958   5/3/19  2.54
14959   5/6/19  2.51

In [63]:
# 10-Year Treasury Constant Maturity Rate: DGS10
file1 = 'BCI_short.csv'
bci = pd.read_csv(file1)
bci = fill_data(bci, 'Date')

bci.tail(n=10)

5/2/19

         BCI  BCIg   BCIp     Date
14355  256.5  12.0  100.0  4/23/19
14356  256.5  12.0  100.0  4/24/19
14357  257.9  12.9  100.0  4/25/19
14358  257.9  12.9  100.0  4/26/19
14359  257.9  12.9  100.0  4/27/19
14360  257.9  12.9  100.0  4/28/19
14361  257.9  12.9  100.0  4/29/19
14362  257.9  12.9  100.0  4/30/19
14363  257.9  12.9  100.0   5/1/19
14364  258.6  13.7  100.0   5/2/19

## Merge by Date

In [64]:
merged_draft = pd.merge(main, vix, on = 'Date', how = 'left')
merged_draft = merged_draft[['Date', 'VIX_Close', 'Ratio_smoothed', 'Std_RUA']]

merged_draft = pd.merge(merged_draft, rdi, left_on = 'Date', right_on = 'DATE', how = 'left')
merged_draft = pd.merge(merged_draft, invest, left_on = 'Date', right_on = 'Date', how = 'left')
merged_draft = pd.merge(merged_draft, cpi, left_on = 'Date', right_on = 'DATE', how = 'left')
merged_draft = pd.merge(merged_draft, cci, left_on = 'Date', right_on = 'TIME', how = 'left')
merged_draft = pd.merge(merged_draft, gfp, left_on = 'Date', right_on = 'DATE', how = 'left')
merged_draft = pd.merge(merged_draft, cboe_gvi, left_on = 'Date', right_on = 'DATE', how = 'left')
merged_draft = pd.merge(merged_draft, psavert, left_on = 'Date', right_on = 'DATE', how = 'left')
merged_draft = pd.merge(merged_draft, unrate, left_on = 'Date', right_on = 'DATE' ,how = 'left')
merged_draft = pd.merge(merged_draft, mortgage30, left_on = 'Date', right_on = 'DATE', how = 'left')
merged_draft = pd.merge(merged_draft, dgs10, left_on = 'Date', right_on = 'DATE', how = 'left')
merged_draft = pd.merge(merged_draft, bci, on = 'Date', how = 'left')

merged_draft = merged_draft[['Date', 'VIX_Close', 'Ratio_smoothed', 'Std_RUA', 'A067RL1Q156SBEA', 'Bullish Average', 'CPIAUCSL', 'CCI_Value','GOLDAMGBD228NLBM', 'GVZCLS', 'PSAVERT','UNRATE','MORTGAGE30US','DGS10', 'BCI']]
merged_draft.head(n=10)

,Date,VIX_Close,Ratio_smoothed,Std_RUA,A067RL1Q156SBEA,Bullish Average,CPIAUCSL,CCI_Value,GOLDAMGBD228NLBM,GVZCLS,PSAVERT,UNRATE,MORTGAGE30US,DGS10,BCI
0,1/2/91,26.620001,0.008547,2.256054,1.0,0.384907,134.7,99.76616,392.500,NaN,9.3,6.4,9.68,7.97,102.5
1,1/3/91,27.930000,0.008775,2.234674,1.0,0.384907,134.7,99.76616,386.750,NaN,9.3,6.4,9.68,7.93,102.3
2,1/4/91,27.190001,0.009003,2.216556,1.0,0.384907,134.7,99.76616,388.100,NaN,9.3,6.4,9.56,8.02,102.3
3,1/7/91,28.950001,0.009232,2.154587,1.0,0.384907,134.7,99.76616,391.000,NaN,9.3,6.4,9.56,8.13,102.3
4,1/8/91,30.379999,0.009460,2.154293,1.0,0.384907,134.7,99.76616,392.800,NaN,9.3,6.4,9.56,8.16,102.3
5,1/9/91,33.299999,0.009688,2.153921,1.0,0.384907,134.7,99.76616,390.700,NaN,9.3,6.4,9.56,8.25,102.3
6,1/10/91,31.330000,0.009917,2.127008,1.0,0.384907,134.7,99.76616,388.500,NaN,9.3,6.4,9.56,8.16,101.8
7,1/11/91,32.630001,0.010145,2.097915,1.0,0.384907,134.7,99.76616,390.400,NaN,9.3,6.4,9.63,8.20,101.8
8,1/14/91,36.200001,0.010373,2.020824,1.0,0.384907,134.7,99.76616,395.350,NaN,9.3,6.4,9.63,8.23,101.8
9,1/15/91,36.160000,0.010602,2.020397,1.0,0.384907,134.7,99.76616,398.000,NaN,9.3,6.4,9.63,8.22,101.8

In [65]:
merged_draft = remove_missing(merged_draft)
merged_draft.head(n=10)

,Date,VIX_Close,Ratio_smoothed,Std_RUA,A067RL1Q156SBEA,Bullish Average,CPIAUCSL,CCI_Value,GOLDAMGBD228NLBM,GVZCLS,PSAVERT,UNRATE,MORTGAGE30US,DGS10,BCI
0,1/2/91,26.620001,0.008547,2.256054,1.0,0.384907,134.7,99.76616,392.500,NaN,9.3,6.4,9.68,7.97,102.5
1,1/3/91,27.930000,0.008775,2.234674,1.0,0.384907,134.7,99.76616,386.750,NaN,9.3,6.4,9.68,7.93,102.3
2,1/4/91,27.190001,0.009003,2.216556,1.0,0.384907,134.7,99.76616,388.100,NaN,9.3,6.4,9.56,8.02,102.3
3,1/7/91,28.950001,0.009232,2.154587,1.0,0.384907,134.7,99.76616,391.000,NaN,9.3,6.4,9.56,8.13,102.3
4,1/8/91,30.379999,0.009460,2.154293,1.0,0.384907,134.7,99.76616,392.800,NaN,9.3,6.4,9.56,8.16,102.3
5,1/9/91,33.299999,0.009688,2.153921,1.0,0.384907,134.7,99.76616,390.700,NaN,9.3,6.4,9.56,8.25,102.3
6,1/10/91,31.330000,0.009917,2.127008,1.0,0.384907,134.7,99.76616,388.500,NaN,9.3,6.4,9.56,8.16,101.8
7,1/11/91,32.630001,0.010145,2.097915,1.0,0.384907,134.7,99.76616,390.400,NaN,9.3,6.4,9.63,8.20,101.8
8,1/14/91,36.200001,0.010373,2.020824,1.0,0.384907,134.7,99.76616,395.350,NaN,9.3,6.4,9.63,8.23,101.8
9,1/15/91,36.160000,0.010602,2.020397,1.0,0.384907,134.7,99.76616,398.000,NaN,9.3,6.4,9.63,8.22,101.8

In [66]:
#merged_draft.to_csv('test_features.csv')

# Side Test: Test Google Trends Data

In [67]:
path_hits1 = 'Google_Trends/hits_google_1.csv'
hits1 = convert_date(pd.read_csv(path_hits1),'date')
hits1 = hits1.drop(['isPartial'], axis = 1)
hits1 = fill_data(hits1, 'date')

5/1/19

In [68]:
merged_final = pd.merge(merged_draft, hits1, left_on = 'Date', right_on = 'date', how = 'inner')

In [69]:
path_hits2 = 'Google_Trends/hits_google_2.csv'
hits2 = convert_date(pd.read_csv(path_hits2),'date')
hits2 = hits2.drop(['isPartial'], axis = 1)
hits2 = fill_data(hits2, 'date')
merged_final = pd.merge(merged_final, hits2, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [70]:
path_hits3 = 'Google_Trends/hits_google_3.csv'
hits3 = convert_date(pd.read_csv(path_hits3),'date')
hits3 = hits3.drop(['isPartial'], axis = 1)
hits3 = fill_data(hits3, 'date')
merged_final = pd.merge(merged_final, hits3, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [71]:
path_hits4 = 'Google_Trends/hits_google_4.csv'
hits4 = convert_date(pd.read_csv(path_hits4),'date')
hits4 = hits4.drop(['isPartial'], axis = 1)
hits4 = fill_data(hits4, 'date')
merged_final = pd.merge(merged_final, hits4, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [72]:
path_hits5 = 'Google_Trends/hits_google_5.csv'
hits5 = convert_date(pd.read_csv(path_hits5),'date')
hits5 = hits5.drop(['isPartial'], axis = 1)
hits5 = fill_data(hits5, 'date')
merged_final = pd.merge(merged_final, hits5, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [73]:
path_hits6 = 'Google_Trends/hits_google_6.csv'
hits6 = convert_date(pd.read_csv(path_hits6),'date')
htis6 = hits6.drop(['isPartial'], axis = 1)
hits6 = fill_data(hits6, 'date')
merged_final = pd.merge(merged_final, hits6, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [74]:
path_hits7 = 'Google_Trends/hits_google_7.csv'
hits7 = convert_date(pd.read_csv(path_hits7),'date')
hits7 = hits7.drop(['isPartial'], axis = 1)
hits7 = fill_data(hits7, 'date')
merged_final = pd.merge(merged_final, hits7, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [75]:
path_hits8 = 'Google_Trends/hits_google_8.csv'
hits8 = convert_date(pd.read_csv(path_hits8),'date')
hits8 = hits8.drop(['isPartial'], axis = 1)
hits8 = fill_data(hits8, 'date')
merged_final = pd.merge(merged_final, hits8, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [76]:
# News

In [77]:
path_news1 = 'Google_Trends/news_google_1.csv'
hits1 = convert_date(pd.read_csv(path_news1),'date')
hits1 = hits1.drop(['isPartial'], axis = 1)
hits1 = fill_data(hits1, 'date')
merged_final = pd.merge(merged_final, hits1, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [78]:
path_news2 = 'Google_Trends/news_google_2.csv'
hits2 = convert_date(pd.read_csv(path_news2),'date')
hits2 = hits2.drop(['isPartial'], axis = 1)
hits2 = fill_data(hits2, 'date')
merged_final = pd.merge(merged_final, hits2, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [79]:
path_news3 = 'Google_Trends/news_google_3.csv'
hits3 = convert_date(pd.read_csv(path_news3),'date')
hits3 = hits3.drop(['isPartial'], axis = 1)
hits3 = fill_data(hits3, 'date')
merged_final = pd.merge(merged_final, hits3, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [80]:
path_news4 = 'Google_Trends/news_google_4.csv'
hits4 = convert_date(pd.read_csv(path_news4),'date')
hits4 = hits4.drop(['isPartial'], axis = 1)
hits4 = fill_data(hits4, 'date')
merged_final = pd.merge(merged_final, hits4, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [81]:
path_news5 = 'Google_Trends/news_google_5.csv'
hits5 = convert_date(pd.read_csv(path_news5),'date')
hits5 = hits5.drop(['isPartial'], axis = 1)
hits5 = fill_data(hits5, 'date')
merged_final = pd.merge(merged_final, hits5, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [82]:
path_news6 = 'Google_Trends/news_google_6.csv'
hits6 = convert_date(pd.read_csv(path_news6),'date')
hits6 = hits6.drop(['isPartial'], axis = 1)
hits6 = fill_data(hits6, 'date')
merged_final = pd.merge(merged_final, hits6, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [83]:
path_news7 = 'Google_Trends/news_google_7.csv'
hits7 = convert_date(pd.read_csv(path_news7),'date')
hits7.drop(['isPartial'], axis = 1)
hits7 = hits7 = fill_data(hits7, 'date')
merged_final = pd.merge(merged_final, hits7, left_on = 'Date', right_on = 'date', how = 'inner')

5/1/19

In [85]:
merged_final.to_csv('Draft_Google.csv')